*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    background-color: #050714;
    color: #FFFFFF;
}

.navbar{
    border: 1px;
    padding: 10px;
    background-color: #1A0B2E;
}

.nav-container{
    max-width: 1100px;
    margin: 0px auto;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    font-size: xx-large;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 1);
}

.nav-logo span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: xx-large;
}

nav{
    padding: 0px 0px 16px;
    display: flex;
    align-items: center;
}

.nav-menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 46px;  
    font-size: 12px; 
}

.nav-menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-button{
    padding: 8px 20px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    background: linear-gradient(135deg, #E73CFF 0%, #FF9F4A 50%, #E73CFF 100%);
    color: white;
    box-shadow: 0 4px 12px rgba(231, 60, 255, 0.4), 0 2px 4px rgba(o, 0, 0, 0.2);
}

.nav-mobile-button{
    display: none;
    background: none;
    border: none;
}

.nav-mobile-button img{
    width: 20px;
}

.hero-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
    background: #0A0314;
    text-align: center;
    gap: 60px;
}

.hero-section{
    max-width: 600px;
}

.hero-title{
    font-size: 76px;
    font-weight: 500;
    margin: 0 0 20px 0;
    line-height: 0.9;
}

.hero-paragraph{
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 0 40px 0;
    line-height: 1.6;
    max-width: 500px;
}

.hero-container h1{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 8px;
    letter-spacing: -2px;
}

.hero-section p{
    color: #D4D4D8;
    font-size: 19px;
    line-height: 1.55;
    margin-bottom: 28px;
    padding-right: 20px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.spotify-button, .subscribe-button{
   padding: 16px 32px;
   border-radius: 50px;
   font-weight: 400;
   text-decoration: none;
   font-size: 16px;
}

.spotify-button{
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
}

.sunscribe-button{
     color:#00FF88;
     padding: 14px 28px;
     text-decoration: none;
     border-radius: 100px solid #00FF88;
     font-size: 15px;
}

.hero-images{
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;
}

.Circle{
    position: absolute;
    top: 0;
    left: 50%;
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.Microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85px;
    height:auto;
}

.Waves-on-left, .Waves-on-right{
    position: absolute;
    height: 120px;
}

.Waves-on-left{
    left: -20px;
    top: 50%;
}

.Waves-on-right{
    right: -20px;
    top: 50%;
}

.green-dot{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    background: #10B981;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(16, 185, 129, 0.8);
}

@media (max-width: 576px) {
   
    .nav-menu, .nav-button{
        display: none;
    }

    .nav-mobile-button {
        display: block;
    }

    .nav-container{
        padding-inline: 16px;
    }

    .hero-container{
        flex-direction: column;
        text-align: center;
        padding: 60px 30px;
        gap: 50px;
    }

    .hero-title h1{
        font-size: 60px;
    }

    .hero-images{
        width: 210px;
        height: 210px;
    }
}