*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    background-color: #050714;
    color: #FFFFFF;
}

.navbar{
    border: 1px;
    padding: 10px;
    background-color: #1A0B2E;
}

.nav-container{
    max-width: 1100px;
    margin: 0px auto;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    font-size: xx-large;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 1);
}

.nav-logo span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: xx-large;
}

nav{
    padding: 0px 0px 16px;
    display: flex;
    align-items: center;
}

.nav-menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 46px;  
    font-size: 12px; 
}

.nav-menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-button{
    padding: 8px 20px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    background: linear-gradient(135deg, #E73CFF 0%, #FF9F4A 50%, #E73CFF 100%);
    color: white;
    box-shadow: 0 4px 12px rgba(231, 60, 255, 0.4), 0 2px 4px rgba(o, 0, 0, 0.2);
}

.nav-mobile-button{
    display: none;
    background: none;
    border: none;
}

.nav-mobile-button img{
    width: 20px;
}

@media (max-width: 576px) {
   
 .nav-menu, .nav-button{
        display: none;
    }

    .nav-mobile-button {
        display: block;
    }

    .nav-container{
        padding-inline: 16px;
    }
}