*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    background-color: #050714;
    color: #FFFFFF;
}

.navbar{
    border: 1px;
    padding: 10px;
    background-color: #1A0B2E;
}

.nav-container{
    max-width: 1100px;
    margin: 0px auto;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    font-size: xx-large;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 1);
}

.nav-logo span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    font-size: xx-large;
}

nav{
    padding: 0px 0px 16px;
    display: flex;
    align-items: center;
}

.nav-menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 46px;  
    font-size: 12px; 
}

.nav-menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-button{
    padding: 8px 20px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    background: linear-gradient(135deg, #E73CFF 0%, #FF9F4A 50%, #E73CFF 100%);
    color: white;
    box-shadow: 0 4px 12px rgba(231, 60, 255, 0.4), 0 2px 4px rgba(o, 0, 0, 0.2);
}

.nav-mobile-button{
    display: none;
    background: none;
    border: none;
}

.nav-mobile-button img{
    width: 20px;
}

.about-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 24px 100px;
    text-align: center;
}

.about-container h2{
    font-size: 30px;
    margin-bottom: 12px;
    font-style: bold;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.about-container p{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    /* line-height: 12px;
    letter-spacing: 0%; */
}

.about-parts{
    color: #FFFFFF;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto 48px;
    line-height: 1.6;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.grid-card{
    background: rgba(11, 16, 32, 0.8);
    padding: 24px 20px;
    border-radius: 16px;
}

.grid-container h3{
    font-size: 24px;
    margin-bottom: 6px;
}

.grid-container p{
    font-size: 13px;
    color: #A0A3B5;
}

@media (max-width: 576px) {
    .nav-menu, .nav-button{
        display: none;
    }

    .nav-mobile-button {
        display: block;
    }

    .nav-container{
        padding-inline: 16px;
    }
}